---
import Layout from '../layouts/BlogPost.astro';
import GlowLineSeparator from '@/components/ui/separator/GlowLineSeparator.astro';
const pageTitle = 'À propos de moi';
const pageDescription = 'Découvrez mon parcours, mes projets et mes passions.'; 
---

<Layout title={pageTitle} description={pageDescription} pubDate={new Date()} showHeader={false}>
  <p>
    Salut ! Je suis étudiant en informatique passionné par le développement logiciel et la création de systèmes robustes et performants.
  </p>
  <p>
    Actuellement en dernière année à l'Epitech, j'ai eu l'opportunité de travailler sur divers projets, allant de la création de sites web et applications mobiles à des systèmes backend complexes. J'ai également participé à des hackathons et concours de programmation, où j'ai pu affiner mes compétences en résolution de problèmes et en travail d'équipe.
  </p>
  <p>
    J'ai aussi pu réaliser des stages en entreprise, notamment au Domaine Thermal de Mondorf-lès-Bains, où j'ai développé mes compétences en développement web et gestion de bases de données. Ces expériences m'ont permis de comprendre les besoins réels des utilisateurs et d'appliquer les meilleures pratiques de l'industrie.
  </p>
  <p>
    Mes technologies de prédilection incluent TypeScript, React/Next.js, Node.js, mais j'aime explorer de nouveaux outils pour toujours améliorer mes solutions. J’accorde une grande importance à un code lisible, testé et maintenable, ainsi qu'à l'itération rapide et à la mesure des résultats.
  </p>
  <p>
    En dehors du développement, je suis un véritable passionné d'aviation et de moto, et je consacre aussi beaucoup de temps à passer du temps avec ceux que j'aime. Ces passions nourrissent ma curiosité, ma précision et ma créativité, des qualités que j'applique également dans mes projets techniques.
  </p>

  <GlowLineSeparator />

</Layout>
